<!--Sidebar-->
<aside class="col-md-2 d-none d-md-block sidebar">
    <nav class="sidebar-sticky mt-2">
        <ul class="nav flex-column">
            <li class="nav-item mt-2">
                <button class="btn btn-outline-success btn-block">전체 보기</button>
            </li>
            <li class="nav-item mt-2">
                <button class="btn btn-outline-success btn-block">다른 기준</button>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>장르별 보기</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item mt-2" v-for="genre in genres">
                <button class="btn btn-outline-secondary btn-block">{{ genre.name }}</button>
            </li>
        </ul>
    </nav>
</aside>