container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_chown_sqlitedb:
        command: "sudo chown wsgi db.sqlite3"
        leader_only: true
    03_collectstatic:
        command: "python manage.py collectstatic"
    04_superuser:
        command: "python manage.py loaddata users.json"
        leader_only: true
    05_profile:
        command: "python manage.py loaddata profile.json"
        leader_only: true
    06_director:
        command: "python manage.py loaddata director.json"
        leader_only: true
    07_genre:
        command: "python manage.py loaddata genre.json"
        leader_only: true
    08_genre:
        command: "python manage.py loaddata movie.json"
        leader_only: true
    09_post:
        command: "python manage.py loaddata post.json"
        leader_only: true
    09_score:
        command: "python manage.py loaddata score.json"
        leader_only: true