{% extends 'base.html' %}
{% block title %}{{people.username }}{% endblock %}
{% block content %}


<div class="d-flex justify-content-between align-items-center">
  <div class="text-center text-light ml-3 mt-5">
    <h1 style="font-family:'Jua', sans-serif; display: inline;">{{ people.profile.nickname }}</h1>
    <h1 style="font-family: 'Lobster', cursive; display: inline;">'s Profile</h1>
  </div>
  {% if user == people %}
  <div class="btn-group mr-3 mt-5" style="display: inline">
    <button type="button" class="btn alert-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-cog"></i>
    </button>
    <div class="dropdown-menu" style="font-family: 'Yeon Sung', cursive;">
      <a class="dropdown-item" href="{% url 'accounts:update' %}">[회원정보 수정]</a>
      <a class="dropdown-item" href="{% url 'accounts:profile_update' %}">[프로필 수정]</a>
      <a class="dropdown-item" href="{% url 'accounts:change_password' %}">[비밀번호 변경]</a>
      <a class="dropdown-item" href="{% url 'accounts:logout' %}">[로그아웃]</a>
      {% if user.username == 'admin' %}
      <a class="dropdown-item" href="/gotoadminpage/">[ADMIN]</a>
      {% endif %}
      <div class="dropdown-divider"></div>
      <form class="dropdown-item" action="{% url 'accounts:delete' %}" method="POST" style="display: inline" onsubmit="return confirm('탈퇴하시겠습니까?');">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="회원탈퇴"/>
      </form>
    </div>
  </div>
  {% endif %}
</div>


<div class="jumbotron jumbotron-fluid text-center mt-4 mb-2 text-white bg-dark">
  <div class="container">
    
    <div class="row">
      
      <div class="col-10">
    
      <h1 class="display-4" style="font-family: 'Jua', sans-serif;">{{ people.profile.nickname }}</h1>
      <p class="lead" style="font-family: 'Noto Sans KR', sans-serif;">{{ people.profile.introduction }}</p>
      {% if user != people %}
      <a href="{% url 'accounts:follow' people.pk %}" class="badge {% if user in people.followers.all %}badge-danger{% else %}alert-primary{% endif %} badge-pill mx-1"><h6 class="m-0">팔로우 {{ people.followers.count }}</h6></a>
      {% endif %}
      </div>
      
      <div class="col-2 d-flex align-items-center">
        <div class="d-block">
        <h5 style="font-family: 'Jua', sans-serif;">팔로워 {{ people.followers.count }} 명</h5>
        <h5 style="font-family: 'Jua', sans-serif;">팔로잉 {{ people.followings.count }} 명</h5>
        </div>
      </div>
      
      
      
    </div>
    
  </div>
</div>

  
  
<nav class="mt-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist" style="font-family: 'Oswald', sans-serif;">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Review</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Comment</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Liked</a>
  </div>
</nav>
<div class="tab-content bg-light p-3" id="myTabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    {% if people.post_set.all %}
      {% for post in people.post_set.all %}
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>{{ post.title }}</strong> <a class="btn alert-primary" href="{% url 'movies:postdetail' post.id%}" style="font-family: 'Jua', sans-serif;">글보기</a></p> 
      <hr>
      {% endfor %}
    {% else %}
      <p style="font-family: 'Noto Sans KR', sans-serif;">Review가 아직 없습니다.</p>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    {% if people.score_set.all %}
      {% for score in people.score_set.all %}
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>[{{ score.movie.title }}]</strong> - {{ score.content }} <a class="btn alert-primary" href="{% url 'movies:moviedetail' score.movie.id %}" style="font-family: 'Jua', sans-serif;">영화상세정보</a></p>
      <hr>
      {% endfor %}
    {% else %}
      <p style="font-family: 'Noto Sans KR', sans-serif;">Comment가 아직 없습니다.</p>
    {% endif %}
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    {% if people.like_movies.all%}
      {% for movie in people.like_movies.all %}
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>[{{ movie.title }}]</strong> <a class="btn alert-primary" href="{% url 'movies:moviedetail' movie.id %}" style="font-family: 'Jua', sans-serif;">영화상세정보</a></p>
      <hr>
      {% endfor %}
    {% else %}
      <p style="font-family: 'Noto Sans KR', sans-serif;">Like가 아직 없습니다.</p>
    {% endif %}
  </div>
</div>



{% endblock %}