{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}
{% block content %}
<style type="text/css">
    h1 {
        color:#fff;
    }
</style>

<h1 class="mt-3">Log In</h1>
<form method="POST" class="bg-light p-3 rounded mt-3" style="font-family: 'Noto Sans KR', sans-serif;">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Log-in" class="btn btn-primary"/>
    <a href="{% url 'accounts:signup' %}" class="btn btn-warning">Sign-up</a>
</form>
<br>
<!--<a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-warning">카카오로그인</a> -->
<!--<a href="{% provider_login_url 'naver' method='oauth2' %}" class="btn btn-success">네이버로그인</a> -->
<!--<a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-primary">구글로그인</a> -->

{% endblock %}

