<style type="text/css">
    .page-footer {
        display: flex;
        height:50px;
        background-color: rgb(49, 42, 90);
        color: white;
        padding: 0px 3rem;
        justify-content: space-between;
        align-items: center;
    }
</style>
<!-- Footer -->
<footer class="page-footer fixed-bottom">
    <a class="footer-copyright font-small text-start" style="font-family: 'Lobster', cursive;">© 2019 Nebula copyright</a>
    <a href="#home">
        <i class="fas fa-arrow-alt-circle-up fa-2x text-light"></i>
    </a>
</footer>