{% extends 'base.html' %}
{% load static %}
{% block title %}
MainPage
{% endblock %}
{% block index %}
{% include 'movies/_catch.html' %}
{% endblock %}


{% block content %}
    

    
 
    
    <!--<div>-->
    <!--    <div class="row">-->
    <!--        <div class="col-4 p-0"><a href="{% url 'movies:listbytitle' %}" class="text-dark"><div class="d-flex justify-content-center align-items-center" style="background-color:rgb(255, 137, 137); height:200px;"><span style="font-size:3rem;">영화 전체 목록</span></div></a></div>-->
    <!--        <div class="col-4 p-0"><a href="{% url 'movies:genrelist' %}" class="text-dark"><div class="d-flex justify-content-center align-items-center" style="background-color:rgb(169, 169, 250); height:200px;"><span style="font-size:3rem;">장르별 영화 목록</span></div></a></div>-->
    <!--        <div class="col-4 p-0"><a href="{% url 'movies:directorlist' %}" class="text-dark"><div class="d-flex justify-content-center align-items-center" style="background-color:rgb(253, 255, 165); height:200px;"><span style="font-size:3rem;">감독별 영화 목록</span></div></a></div>-->
    <!--    </div>-->
        
    <!--</div>-->
{% endblock %}